/* Imports */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://rsms.me/inter/inter-ui.css');
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); /* Media icons */



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** My variables **/
:root{
  --main-col: #9BAD15;
  --bold-col: #000000;
  --background-col: #ffffff;
  --text-col: #474747;
	--border-col: #e8e8e8;
	--sec-col: #f4960f;
}


/** Global **/

body{
  background-color: var(--background-col);
  font-family: 'Inter UI','Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-col);
  display: block;
  max-width:960px;
  width: 100%;
  margin: 0 auto;
}

.active {
	color: var(--sec-col);
	font-weight: bold;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	animation: none !important;
	transition: none !important;
}

header, section.content, footer {
	margin: 0 30px 27px 30px; /*One line in the vertical*/
}

header {
	margin-top: 27px;
}

/* To clean after floats */
.content::after {
  display: block;
  clear: both;
  content: '';
  float: none;
  height: 1px;
}

/* Flex containers */
.container
{
  width:auto;
  margin: 0 auto;
  position:relative;
  display:flex;
}

header .container {
	  justify-content: space-between;
}

body .container {

}

p
{
  margin-bottom: 27px;
}

a {
  color: var(--main-col);
  text-decoration: none;
  font-weight: 500;
  transition: all .75s ease;
}

a:hover {
  color: var(--bold-col);
}

/** Text formatting **/

strong
{
  font-weight: bold;
  color: var(--bold-col);
}

h1, h2 {
	font-family: 'Quattrocento', serif;
	font-variant: small-caps;
}

h1
{
  margin: 35px 0 0 0;
  font-size: 30px;
}

h2
{
  font-size: 26px;
	color: black;
	font-weight: bold;
	margin-top: 13px;
}

/* Misc */

.clear /*In case I need BRs to separate horizontaly*/
{
	clear:both;
}

.hidden
{
  position:absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Header */

header{
  background: #ffffff;
  width:auto;
  margin-bottom: 20px; /* Remember top right bottom left */
  font-family: "Garamond", "EB Garamond", Georgia, serif;
	border-bottom: 1px solid var(--border-col);
}

header li {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

header h1 {
  font-weight: bold;
  font-size: 60px;
	font-family: inherit;
}

header h1 a{
  text-decoration: none;
	color:black;
}

nav[role=navigation]{ /* To align vertically with icons */
  display: flex;
  flex-direction: column;
  justify-content: center;
	font-size: 20px;
	font-family: 'Quattrocento', serif;
	font-weight:bolder;
}

header::after { /* to eliminate problems with floats */
    display: block;
    clear: both;
    content: '';
    float: none;
    height: 1px;
}
/* Social media buttons */

header .fa, header .ai {
  color:var(--main-col);
  font-size: 30px;
	transition: all .5s ease;
}

header .fa:hover, header .ai:hover {
	/*font-weight: bold;*/
}

.ai-google-scholar:hover {
	color: #dd4b39;
}

.ai-researchgate:hover {
	background-color: #0cb;
	color: #ffffff;
}

.fa-github:hover, .fa-envelope:hover {
	color: black;
}

.fa-skype:hover {
	color:#00aff0;
}

.fa-twitter:hover {
  color: #55ACEE;
}

/* Images*/

.shadowed{
box-shadow:0px 0px 20px rgba(0,0,0,0.4);
}

.rounded{
   border-radius:3%
   /*,box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"*/
}

/* blog post title */

h2.shortpost {
	color:inherit;
}

/* Info */
p.info {
  text-align: right;
	margin: -10px 0px 0px 0px;
}

info {
  color: #000000;
	font-size: smaller;
}

/* Tiles */

.tiles {
	display: flex;
}

.container.tiles {
	flex-wrap:wrap;
}

.tiles a{
	color: black;
	transition: color 0.5s ease;
}

article.tiles:hover a {
	color: white;
}

article.tiles {
	background-color: var(--border-col);
	align-items: center;
	display: flex;
	transition: transform 0.5s ease, opacity 0.5s ease, filter 1s ease;
	padding: 4em 4em 4em 4em ;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: default;
	/**height: 40vh;
	max-height: 40em;
	min-height: 23em;**/
	overflow: hidden;
	position: relative;
	width: 40%;
	box-sizing: border-box;
}

h2.tiles {
	margin:auto;
	padding:0;
	text-align: center;
}

article:nth-child(4n - 1).tiles.neven, article:nth-child(4n - 2).tiles.neven {
	width: 60%;
}

article:nth-child(4n).tiles:before {
	background-color: var(--main-col);
}

article:nth-child(4n + 1).tiles:before{
	background-color: #159BAD;
}

article:nth-child(4n + 2).tiles:before{
	background-color: #AD159B;

}

article:nth-child(4n + 3).tiles:before{
	background-color: var(--sec-col);
}

article:nth-child(4n - 1).tiles.nodd , article:nth-child(4n).tiles.nodd{
	width: 60%;
}

article:nth-child(1).tiles.nodd{
	width: 100%;
}

.tiles article:before {
	transition: opacity 0.5s ease;
	bottom: 0;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.35;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.tiles article:after {
	/*background-color: rgba(36, 41, 67, 0.25);*/
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.front {
	z-index: 100;
	position: inherit;
}

.tiles article:hover:before {
	opacity: 1;
}

/* IMG */

img.img_256 {
	float:right;
}

/* Footer */
footer {
  margin-top: 50px;
  text-align: right;
  position:relative;
  bottom:0;
	border-top: 1px solid var(--border-col);
	font-size: smaller;
	font-style: italic;
}

/* Resposive options */

@media screen and (max-width: 450px){
	img.img_256{
		float:none;
		display:block;
		margin: 0 auto;
	}

	.container {
		display:block;
	}

	header .container
	{
		text-align: right;
	}

	nav {
		display: inline-block;
	}
}

@media screen and (max-width: 316px){
	header, section.content, footer {
		margin: 0 0;
	}
}
